---
import CardBasic from './CardBasic.astro';
import CardMovements from './CardMovements.astro';
import CardMovementsArtcile from "./CardMovementsArticle.astro"

---

{
        <section class="relative top-20 w-screen min-h-full flex flex-col justify-center items-center" {...Astro.props}>
            <article class="w-full flex flex-col justify-center items-center h-fit py-10 bg-gradient-to-r to-[#0074D3] from-[#0040A8]">
                <div class="w-full h-fit gap-x-5 flex flex-col justify-between items-start max-w-7xl max-xl:px-5">
                    <nav class="flex px-5 py-3 w-fit mb-3 -mt-8 text-gray-700 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700 drop-shadow-lg" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                            <li class="inline-flex items-center">
                                <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                                </svg>
                                Home
                                </a>
                            </li>
                        </ol>
                    </nav>

                    <div id="content-banner-grid" class="w-full gap-7">
                        <div id="content-grid-elements" class="grid grid-cols-4 grid-rows-2 gap-y-5 gap-x-7 w-full h-full ">

                            <div id="card_balance" class="flex col-span-1 row-span-1 justify-center flex-col w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105">
                                <CardBasic
                                img_url="https://cdn-icons-png.flaticon.com/512/9063/9063313.png"
                                balance_text={"120000$"}
                                available_balance_text={"120000$"}
                                >
                                </CardBasic>
                            </div>

                            <!--Tarjeta segundaria que se cambiará -->
                            <!-- 
                            <div id="card_pays" class="flex col-span-1 row-span-1 justify-center flex-col w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105">
                                <CardBasic
                                img_url="https://cdn-icons-png.flaticon.com/512/2769/2769569.png"
                                balance_text={"120000$"}
                                available_balance_text={"99990$"}                                
                                >    
                            </div> -->
                            <div
                        id="card_pays"
                        class="flex col-span-1 row-span-1 justify-between flex-col w-full p-6 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in"
                    >
                        <div
                            id="contentTarget"
                            class="flex justify-between mb-1"
                        >
                            <img
                                class="h-14"
                                src="/ImgStatic/chip.png"
                                alt="Logo del chip"
                            />
                            <img
                                class="h-12"
                                src="/ImgStatic/logo.png"
                                alt="Logo de la Página"
                            />
                        </div>
                        <div id="contentTarget" class="flex flex-col gap-2">
                            <p class="text-lg">4563 2345 8193 7281</p>
                            <p class="ml-5">06/04/2024</p>
                        </div>
                        <div id="contentTarget" class="p-1">
                            <h2 class="text-xl font-blod text-right">
                                Sebaxxt
                            </h2>
                        </div>
                        <div id="back" class="">
                            <div id="line"></div>
                            <div id="number">
                                <h2 class="m-auto">8342</h2>
                            </div>
                        </div>
                    </div>
                            <div id="welcome" class="flex col-span-3 row-span-1 justify-around flex-col gap-3 gap-x-5 w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105">
                                <h1 class="text-4xl font-bold text-white">
                                    {"Bienvenido de nuevo "}<span class="text-yellow-500">{"Ladeuth"}</span>!
                                </h1>
                
                                <div>
                                    <span class="text-white">
                                        <p>
                                            {"Tienes "} <span class="text-red-500 font-bold">{0}</span> {" nuevas notificaciones"}
                                        </p>
                                    </span>
                
                                    <button class="bg-white text-black rounded-lg px-4 py-2 mt-2 outline-none transition-all duration-250 ease-in hover:bg-black hover:text-white">
                                        {"Ver todo"}
                                    </button>
                                </div>
                            </div>

                            <div id="card_balance_principal" class="flex col-span-1 row-span-1 justify-center flex-col w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105">
                                <CardBasic
                                img_url="https://cdn-icons-png.flaticon.com/512/9063/9063313.png"
                                balance_text={"120000$"}
                                available_balance_text={"120000$"}  
                                >
                                </CardBasic>
                            </div>

                            <div id="make_loan" class="flex col-span-3 row-span-1 justify-around flex-col gap-3 gap-x-5 w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105">
                                <h1 class="text-white text-2xl font-bold">
                                    {"¿Eres nuevo? ¿Quieres hacer tu "} <span class="text-yellow-400">{"primer préstamo"}</span>? {"? Por favor ingresa aquí"}
                                </h1>

                                <button id="button-loan" class="bg-white w-fit text-black rounded-lg px-4 py-2 mt-2 outline-none transition-all duration-250 ease-in hover:bg-black hover:text-white">
                                    {"Hacer prestamo"}
                                </button>
                            </div>

                            <!--Esta es la principal que se cambiará -->
                           <!--
                            <div id="card_pays_principal" 
                            class="flex col-span-1 row-span-1 justify-center flex-col w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105"
                            >
                                <CardBasic
                                img_url="https://cdn-icons-png.flaticon.com/512/2769/2769569.png"
                                balance_text={"120000$"}
                                available_balance_text={"100$"}  
                                />
                               
                            </div> -->
                        <div
                        id="card_pays_principal"
                        class="flex col-span-1 row-span-1 justify-between flex-col w-full p-6 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in"
                    >
                        <div
                            id="contentTarget"
                            class="flex justify-between mb-1"
                        >
                            <img
                                class="h-14"
                                src="../../../public/background/ImgStatic/chip.png"
                                alt="Logo del chip"
                            />
                            <img
                                class="h-12 logo-white"
                                src="../../../public/background/ImgStatic/logo.png"
                                alt="Logo de la Página"
                            />
                        </div>
                        <div id="contentTarget" class="flex flex-col gap-2">
                            <p class="text-lg">4563 2345 8193 7281</p>
                            <p class="ml-5">06/04/2024</p>
                        </div>
                        <div id="contentTarget" class="p-1">
                            <h2 class="text-xl font-blod text-right">
                                Sebaxxt
                            </h2>
                        </div>
                        <div id="back" class="">
                            <div id="line"></div>
                            <div id="number">
                                <h2 class="m-auto">8342</h2>
                            </div>
                        </div>
                    </div>
                            <div id="credit" class="flex col-span-1 justify-around row-span-1 flex-col gap-3 gap-x-5 w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105">
                                <h1 class="text-white text-lg font-bold">
                                    {"¡Consulte nuestra opción de simulación de crédito!"}
                                </h1>
                                <p class="text-white">{"¿Necesitas calcular tus pagos mensuales de préstamo antes de comprometerte? ¡Estás en el lugar correcto! Con nuestra herramienta de simulación de crédito, puedes explorar diferentes escenarios financieros y planificar tu futuro con confianza."}</p>

                                <button id="button-simulate-loan" class="bg-white text-black rounded-lg px-4 py-2 mt-2 outline-none transition-all duration-250 ease-in hover:bg-black hover:text-white">
                                    {"Simular prestamo"}
                                </button>
                            </div>

                            <div id="security" class="flex col-span-2 justify-around row-span-1 flex-col gap-3 gap-x-5 w-full p-7 rounded-xl cursor-pointer bg-slate-800 shadow-lg shadow-gray-900 transition-all duration-150 ease-in hover:scale-105">
                                <h1 class="text-white text-lg font-bold">
                                    {"¡Transfiere fondos a otros usuarios de manera rápida y segura!"}
                                </h1>
                                <p class="text-white">{"¿Necesitas enviar dinero a amigos o familiares? Con nuestra función de transferencia a otros usuarios, puedes enviar fondos de manera rápida y segura. Ya sea que estés compartiendo gastos, ayudando a un ser querido o simplemente pagando por un servicio, nuestra plataforma te permite realizar transferencias de manera conveniente y sin complicaciones. Olvídate de los largos procesos bancarios y las comisiones excesivas. Con nosotros, enviar dinero es tan fácil como pulsar un botón."}</p>

                                <button id="button-transfer" class="bg-white text-black rounded-lg px-4 py-2 mt-2 outline-none transition-all duration-250 ease-in hover:bg-black hover:text-white">
                                    {"Transferir"}
                                </button>
                            </div>                                       

                            <CardMovements
                            titulo={"Historial de movimientos"}
                            not_found={"No se encontraron movimientos"}
                            more={"Mas..."}
                            num_movements={3}
                            >
                            {
                                <CardMovementsArtcile
                                    img_url={"https://img.icons8.com/?size=256&id=eYaVJ9Nbqqbw&format=png"}
                                    type_loan_text={"Bank Loan"}
                                    date_text={"23/02/2024"}
                                    amount={120000}
                                    is_positive={"positivo"}
                                />

                                <CardMovementsArtcile
                                    img_url={"https://img.icons8.com/?size=256&id=eYaVJ9Nbqqbw&format=png"}
                                    type_loan_text={"Bank Loan"}
                                    date_text={"23/02/2024"}
                                    amount={120000}
                                    is_positive={"positivo"}
                                />

                                <CardMovementsArtcile
                                    img_url={"https://img.icons8.com/?size=256&id=eYaVJ9Nbqqbw&format=png"}
                                    type_loan_text={"Bank Loan"}
                                    date_text={"23/02/2024"}
                                    amount={120000}
                                    is_positive={"positivo"}
                                />
                            }
                            </CardMovements>

                        </div>
                    </div>
                </div>
            </article>
        </section>

        <style>
            #content-banner-grid{
                grid-template-columns: 2fr minmax(0, 22rem);
            }

            #content-grid-elements{
                grid-template-columns: 1fr 1fr .5fr 1fr;
            }

            #card_balance{
                display: none;
            }
            #back {
             display: none;
             flex-direction: column;
            }
            #back #line {
            background-color: rgba(101, 131, 233, 0.863);
             padding: 10px;
             height: 33px;
             border-radius: 10px 10px 0 0;
           }
             #back #number {
            display: flex;
             align-items: center;
              padding: 40px 0;
           }
           #card_pays_principal:hover {
            padding: 0;
            animation: rotate 0.5s ease forwards;
          }
           #card_pays_principal:hover #back {
           display: flex;
            font-size: 30px;
            font: bold;
         }

          #card_pays_principal:hover #contentTarget {
          display: none;
         }
           #card_pays{
            display: none;
        }
         #contentTarget{
        color: white;
         }
         .m-auto{
            color: white;
         }
         .logo-white {
          filter: brightness(0) invert(1); 
        }
            @keyframes rotate {
             0% {
            transform: rotateY(180deg);
             }
             100% {
            transform: rotateY(0);
        }
    }

       @media(max-width 620px;){
        #contentTarget,
        #card_pays  {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 1rem;
    }
    .h-14,
    .h-12 {
        width: 50%;
        margin-bottom: 1rem;
    }
    .text-xl {
        font-size: 1.5rem;
    }
    .text-lg {
        font-size: 1.2rem;
    }
   
}     
            @media (max-width: 1160px) {
                #security{
                    grid-column: span 1 / 1 span;
                }
            }    

            @media (max-width: 1024px) {
                #security{
                    grid-column: span 2 / 2 span;
                }

                #credit{
                    grid-column: span 2 / 2 span;
                }
            }

            @media (max-width: 830px) {
                #welcome h1{
                    font-size: 1.7rem;
                }
            }

            @media (max-width: 640px) {
                #security{
                    grid-column: span 4 / 4 span;
                }

                #credit{
                    grid-column: span 4 / 4 span;
                }
            }

            @media (max-width: 550px) {
                #welcome{
                    grid-column: span 4 / 4 span;
                }

                #make_loan{
                    grid-column: span 4 / 4 span;
                }

                #card_balance{
                    display: flex;
                    grid-column: span 4 / 4 span;
                }

                #card_pays{
                    display: flex;
                    grid-column: span 4 / 4 span;
                }

                #card_pays_principal{
                    display: none;
                }

                #card_balance_principal{
                    display: none;
                }
            }

        </style>



<style>
    .drop-shadow-lg {
      --tw-drop-shadow: drop-shadow(0 0px 8px rgba(0, 0, 0, 0.06)) drop-shadow(0 0px 3px rgba(0, 0, 0, 0.6));
    }
</style>
