---

---

<section class = "mainContainer">
    <div class="closeConfig"></div>
    <div class = "menuConfig">
        <div class="header"><h1>Configuraciones</h1></div>
        <div class="gestionCueta">
            <button class="btn-gestionar-cuenta">Gestion de Cuenta</button>
            <div class="subGestionCuenta">
                <button class="btnSubNotis">Cambiar información de la cuenta</button>
                <button class="btnSubNotis">Cambiar dirección de e-mail</button>
                <button class="btnSubNotis">Cambiar contraseña</button>
                <button class="btnSubNotis">Activar autenticación de Dos factores</button>
                <button class="btnSubNotis">Eliminar cuenta</button>
            </div>
        </div>

        <div class = "preferenciaNotis">
            <button class="btn-referencias-notificaciones">Preferencias de Notificaciones</button>
            <div class="subPreferenciaNotis">
                <button class="btnSubNotis">Recibir notificaciones al e-mail</button>
                <button class="btnSubNotis">Recibir notificaciones por mensaje</button>
                <button class="btnSubNotis">Recibir notificaciones en el dispositivo</button>
            </div>
        </div>

        <div class="gestionNotis">
            <button class="btn-gestionar-notificaciones">Gestionar Notificaciones</button>
            <div class="subGestionNotis">
                <button class="btnSubNotis">Elegir categoría de las notificaciones a recibir</button>
                <button class="btnSubNotis">Cambiar color de las notificaciones por su prioridad</button>
            </div>
        </div>
    </div>
</section>
<script>
    const btnConfig =  document.getElementById("btnConfig") as HTMLSpanElement;
    const close = document.querySelector(".closeConfig") as HTMLSpanElement;
    const mainContainer = document.querySelector('.mainContainer') as HTMLElement;


    btnConfig.addEventListener('click', () =>
    {
        mainContainer.style.display = window.getComputedStyle(mainContainer).display === "none" ? "flex" : "none";
    });

    close.addEventListener('click', () =>
    {
        mainContainer.style.display = window.getComputedStyle(mainContainer).display === "flex" ? "none" : "flex";

    });

</script>

<style>
    .mainContainer {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 9999;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.54);
    }

    .closeConfig {
        width: 70%;
        cursor: pointer;
    }

    .menuConfig {
        background-color: rgb(30, 41,59);
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding-top: 15px;
        padding-left: 10px;
        animation: desplace 0.5s ease forwards;
        overflow-y: auto;
    }

    .header {
        font-size: 30px;
        font-weight: bold;
        border-bottom: 3px solid rgb(72, 104, 155);
        text-align: start;
        margin-bottom: 10px;
        cursor: default;
        padding-bottom: 10px;

        /* border:1px solid violet; */
    }

    .gestionCueta,
    .preferenciaNotis,
    .gestionNotis {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        /* border: 1px solid red; */
    }

    .btn-gestionar-cuenta,
    .btn-gestionar-notificaciones,
    .btn-referencias-notificaciones {
        background-color: rgba(0, 0, 0, 0);
        cursor: default;
        font-size: 25px;
        font-weight: bold;
        color: white;
        border: none;
        border-bottom: 2px solid rgb(72, 104, 155);
        text-align: start;
        padding-bottom: 5px;

        /* border:1px solid blue; */
    }

    .subGestionCuenta,
    .subPreferenciaNotis,
    .subGestionNotis {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 15px;
        padding-left: 10px;

        /* border: 1px solid black; */
    }

    .btnSubNotis {
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 19px;
        text-align: left;
        position: relative;
        font-family: 'Courier New', Courier, monospace;

        /* border: 1px solid green; */
    }

    .btnSubNotis:last-child {
        margin-bottom: 4px;
    }

    .gestionCueta {
        height: 40%;
    }
    .preferenciaNotis {
        height: 30%;
    }
    .gestionNotis {
        height: 30%;
    }

    @keyframes desplace {
        0% {
            transform: translate(100%);
        }
        100% {
            transform: translate(0);
        }
    }

    @media (max-width: 800px){
        .close{
            display: flex;
            width: 20%;
        }
        .menuConfig {
            display: flex;
            width: 80%;
        }

        .gestionCueta,
        .preferenciaNotis,
        .gestionNotis {
            height: auto;
        }

        .btnSubNotis {
            font-size: 17px;
            margin-bottom: 5px;
        }

        .btnSubNotis:last-child{
            margin-bottom: 10px;
        }

        .header {
            font-size: 20px;
        }

    }

</style>