---

---

<!--Seccion de notificaciones completa con sus funcionalidades -->
<section id="mainContent">
    <div id="closeNotifications"></div>
    <div id="notificationsContent">
        <article id="notificationsAlmacen">
            <header>
                <h1>Notificaciones</h1>
            </header>
            <main id="allNotifications">
                <article>
                    <h2>Envio</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>transaccion</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>Alerta</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>Envio</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>transaccion</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>Alerta</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>Envio</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>transaccion</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
                <article>
                    <h2>Alerta</h2>
                    <p>enhorabuena ladeu te estafo</p>
                </article>
            </main>
        </article>
    </div>
</section>
<script>
    //la  el btn que tiene la campanita
    let btnNotification = document.querySelector(
        "#button-notifications",
    ) as HTMLSpanElement;

    //en contenedor de las notificaciones
    let barNotifications = document.getElementById(
        "mainContent",
    ) as HTMLElement;
    let almacenNotifications = document.getElementById(
        "allNotifications",
    ) as HTMLElement;

    //donde se va a cerrar las notificaciones
    let closeNotifications = document.getElementById(
        "closeNotifications",
    ) as HTMLDivElement;

    btnNotification.addEventListener("click", () => {
        barNotifications.style.display =
            window.getComputedStyle(barNotifications).display === "none" ? "flex" : "none";
    });

    closeNotifications.addEventListener("click", () => {
        barNotifications.style.display =
            window.getComputedStyle(barNotifications).display === "flex" ? "none" : "flex";
    });
</script>

<style>
    #notificationsContent::-webkit-scrollbar {
        width: 16px;
    }

    #notificationsContent::-webkit-scrollbar-track {
        background-color: transparent;
    }

    #notificationsContent::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
    }
    #notificationsContent::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
    }
    #notificationsContent::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    #mainContent {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 50;
        display: none;
        background-color: rgba(0, 0, 0, 0.534);
    }
    #closeNotifications {
        width: 70%;
        cursor: pointer;
    }

    #notificationsContent {
        display: flex;
        align-items: center;
        width: 30%;
        height: 100%;
        padding: 10px;
        --tw-shadow-color: #0f1f16;
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
            0 4px 6px -4px var(--tw-shadow-color);
        --tw-shadow: var(--tw-shadow-colored);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        background-color: rgb(30, 41, 59);
        color: rgb(255, 255, 255);
        animation: desplace 0.5s ease forwards;
        overflow-y: scroll;
    }

    #notificationsContent #notificationsAlmacen {
        height: 100%;
        width: 100%;
        padding: 10px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
    }

    #notificationsContent #notificationsAlmacen header {
        height: 10%;
        display: flex;
        align-items: center;
        font-size: 35px;
        padding: 10px;
        border-bottom: 2px solid rgb(71, 99, 136);
    }

    #notificationsContent #notificationsAlmacen main {
        height: 90%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 5px;
    }

    #notificationsContent #notificationsAlmacen main article {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 8px;
        background-color: rgb(71, 99, 136);
        transition: all 0.2s ease;
        box-shadow:
            rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    #notificationsContent #notificationsAlmacen main article:hover {
        transform: scale(1.03);
        cursor: pointer;
    }

    #notificationsContent #notificationsAlmacen main article h2 {
        font-size: 20px;
    }

    #notificationsContent #notificationsAlmacen main article p {
        font-size: 15px;
        margin-left: 10px;
        padding: 0 10px;
        border-left: 2px solid rgb(119, 168, 232);
    }
    @keyframes desplace {
        0% {
            transform: translate(100%);
        }
        100% {
            transform: translate(0);
        }
    }

    @media (max-width: 1200px) {
        #notificationsContent{
            width: auto;
            flex: 1;
        }
        #closeNotifications{
            width: auto;
            flex: 2;
        }
    }

    
    @media (max-width: 900px) {
        h1{
            font-size: 25px
        }
    }
</style>
